.fullcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container {
    height: 100%;
    width: 100%;
    min-width: 350px;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.contentCoupon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    overflow-y: auto;
}
.contentCouponCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container p {
    font-size: 1rem;
}
.navigation {
    width: 100%;
    padding: 0.3rem;
}
.card {
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px 10px;
    position: relative;
    margin: 2px;
    border: 1px solid #ddd;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    width: 100%;
}

.coImg img {
    width: 100%;
}

.coImg {
    width: 30%;
    display: flex;
    position: relative;
}
.coImgTicket {
    width: 100%;
    display: flex;
    position: relative;
}
.coImgTicket img {
    width: 100%;
    border-radius: 8px;
}

.vertical {
    border-left: 5px dotted black;
    height: 100%;
    position: absolute;
    right: 100%;
}

.content h1 {
    font-size: 3rem;
    color: #565656;
    font-weight: bold;
}
.content span {
    display: flex;
    font-size: 1.5rem;
    gap: 0.2rem;
}
.content span h1 {
    font-size: 1.2rem;
}

.content h2 {
    font-size: 1.5rem;
    color: #565656;
    text-transform: uppercase;
    margin: 5px;
    word-wrap: break-word; /* Ngắt từ khi đoạn quá dài */
}

.content p {
    font-size: 1.2rem;
    color: #696969;
    margin: 5px;
    word-wrap: break-word; /* Ngắt từ khi đoạn quá dài */
    text-decoration:underline;
}

.content {
    position: relative;
    text-align: center;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-button {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.readOnlyTextarea {
    flex: 1; /* Make the textarea take up the remaining space */
    font-size: 1.1rem;
    resize: none; /* Prevent resizing */
    outline: none;
    border: none;
    word-wrap: break-word; /* Ngắt từ khi đoạn quá dài */
    text-align: center;
    scrollbar-width: thin;
}

.readOnlyInput {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.useButton {
    padding: 5px 20px;
    background-color: #dc143c;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2.rem;
}
.voucherScan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.voucherScan h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.voucherScan button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voucherScan button:hover {
    background-color: #0056b3;
}

.voucherScan button svg {
    font-size: 2rem;
}
.qrScannerContainer {
    position: relative;
    width: 100%;
    /* Tùy chỉnh chiều rộng */
    border-radius: 10px;
    overflow: hidden;
    /* Đảm bảo khung quét không vượt ra ngoài */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.qrScannerContainer video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* Bo góc video */
}

.qrModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensure it is on top of other elements */
}

.qrModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    gap: 10px;
}
.voucherContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
    scrollbar-width: thin;
    width: 100%;
}
.ticketContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
    width: 100%;
}
.tabs button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #F1F0F1;
    font-size: 1.2rem;
}

.tabs button.activeTab {
    background-color: #007bff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #007bff;
}

.rewardInfoForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
    z-index: 1000;
}