.main {
  margin-left: 60px;
  padding: 10px;
  background: #f4f4f4;
  min-height: 100vh;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  max-width: 100vw;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  background: #007bff;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  width: 100%;
  max-width: 300px; /* Đặt chiều rộng tối đa cho input */
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Đường viền xám nhẹ */
  border-radius: 4px; /* Bo góc cho input */
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng shadow nhẹ bên trong */
  transition: border-color 0.3s ease;
  color: black;
  /* Thêm padding bên trong input */
  padding-left: 10px;
  box-sizing: border-box;
}

.searchInput:focus {
  border-color: #007bff; /* Đổi màu viền khi input được focus */
}

.cardBody {
  padding: 15px;
  overflow-y: auto;
}
.cardBody2 {
  padding: 15px;
  overflow-y: auto;
  max-height: 60vh;
  display: flex;
  justify-content:space-around;
}

.cardBody input[type="radio"] {
  margin-right: 10px;
}

.cardBody input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #f4f4f4;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #04AA6D;
  color: #fff;
  cursor: pointer;
}

.buttonDeleting {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #dc3545;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

.pageButton:hover {
  background: #0056b3;
}
.pageButton.active {
  background-color: #022850;
  color: #fff;
}
.roomTitle {
  word-wrap: break-word;
}