.form {
    max-width: 30rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    width: 100%;
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.formGroup input[type="text"],
.formGroup input[type="file"],
.formGroup textarea {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
.formGroup input[type="text"]:hover,
.formGroup input[type="file"]:hover,
.formGroup textarea:hover {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

.formGroup input[type="file"] {
    padding: 5px;
}
.formGroup input[type="file"]::file-selector-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
.formGroup input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}

.formGroup textarea {
    resize: vertical;
}

.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: center; /* Center the button */
}

.submitButton:hover {
    background-color: #0056b3;
}


.noProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;
    background-color: #f8f9fa; /* Light background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noProfile p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.noProfile button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.noProfile button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}
.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    margin: 0; /* Bỏ margin */
    position: fixed; /* Đặt vị trí cố định để chiếm toàn bộ màn hình */
    z-index: 9999;
}