.main {
    margin-left: 60px;
    padding: 10px;
    background: #f4f4f4;
    min-height: 100vh;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    max-width: 100vw;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    background: #007bff;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    width: 100%;
    max-width: 300px;
    /* Set max width for input */
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 4px;
    /* Rounded corners for input */
    font-size: 16px;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Light inner shadow */
    transition: border-color 0.3s ease;

    /* Add padding inside input */
    padding-left: 10px;
    box-sizing: border-box;
}

.searchInput:focus {
    border-color: #007bff;
    /* Change border color on focus */
}

.cardBody {
    padding: 15px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #f4f4f4;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageButton {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}

.pageButton:hover {
    background: #0056b3;
}

.pageButton.active {
    background-color: #022850;
    color: #fff;
}

.button {
    background: transparent;
    /* Transparent background */
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer cursor on hover */
    padding: 8px;
    /* Padding around the icon */
    transition: background-color 0.3s;
    /* Smooth transition for background color */
}

.button:hover {
    background-color: #e0e0e0;
    /* Light gray background on hover */
}

.icon {
    font-size: 24px;
    /* Size of the icons */
    color: #007bff;
    /* Icon color */
    transition: color 0.3s;
    /* Smooth transition for icon color */
}

.button:hover .icon {
    color: #0056b3;
    /* Darker blue on hover */
}
.carouselContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1.5rem;
    width: 100%; /* Allow it to take full width */
    max-width: 40rem;
    max-height: 100vh; /* Limit height to 80% of the viewport height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: auto; /* Ensure no overflow */
    flex-grow: 1;
    scrollbar-width: none;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
.closeButton svg {
    font-size: 2rem;
    color: #a51212;
}

