.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
}

.forgotPasswordBox {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 30rem;
    width: 100%;
}

.forgotPasswordBox h2 {
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #333;
}

.forgotPasswordBox p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #666;
}

.forgotPasswordBox a {
    font-size: 1rem;
    color: #1a73e8;
    text-decoration: none;
}

.forgotPasswordBox a:hover {
    text-decoration: underline;
}

.forgotPasswordBox form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.forgotPasswordBox label {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.forgotPasswordBox input {
    padding: 10px;
    border: 1px solid #d1d3e2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1rem;
    width: 100%;
}

.forgotPasswordBox button {
    padding: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

.forgotPasswordBox button:hover {
    background-color: #1664c0;
}
.loginhere {
    cursor: pointer;
}